body {
padding-top:20px;
padding-bottom:40px;
}

.container-narrow {
max-width:800px;
margin:0 auto;
}

.container-narrow>hr {
margin:30px 0;
}

.hero-unit {
text-align:center;
color:#FFF;
font-weight:700;
text-shadow:2px 2px 2px #000;
background:url(../img/israel-bus.jpg);
background-size:800px auto;
margin:60px 0;
}

.hero-unit h1 {
font-size:72px;
line-height:1;
}

.hero-unit .btn {
font-size:21px;
padding:14px 24px;
}

.form-join {
max-width:500px;
}

.marketing {
margin:60px 0;
}

.marketing p+h4 {
margin-top:28px;
}

.candidate-box {
height: 200px;
width: 195px;
text-align: center;
display: inline-block;
margin-bottom: 50px;
}

.candidate-box .candidate-name {
margin-bottom: 3px;
}

.candidate-box .vote-btn {
	margin-top: 10px;
}
